<div class="container ">

  <mat-card>
  <mat-stepper
    class="example-stepper"
    [orientation]="(stepperOrientation | async)!" linear #stepper>
    <mat-step  label="choix de diplome" >
      <form >
        <mat-form-field appearance="fill">
        <mat-label>Select Niveau</mat-label>
          <mat-select  required>
            <mat-option  (click)='handleNextFiliere("Master")'  value="Master" > Master</mat-option>
            <mat-option   (click)='handleNextFiliere("Licence")'  value= "Licence" > Licence</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup"  label="choix de la filiere">
      <form  [formGroup]="firstFormGroup">
        <mat-form-field appearance="fill">
        <mat-label> </mat-label>
          <mat-select formControlName="idFiliere" required>
            <mat-option  *ngFor="let i of nextFilieres"  value={{i.id}} >{{i.titre}}</mat-option>
            
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="remplire votre information personelles">
      <form [formGroup]="secondFormGroup" (ngSubmit)="handleInscrireStudent()">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" placeholder="Ex. 12345678" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" placeholder="Ex. 12345678" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>votre code nationale d'etudiant</mat-label>
          <input matInput formControlName="cne" placeholder="Ex. 12345678" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext type="submit">valider</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>votre preinscription a ete bien enregistre</p>
      <div>
        <button mat-button [routerLink]="['/index/home']" routerLinkActive="router-link-active" >Exit</button>
      </div>
    </mat-step>
  </mat-stepper>
</mat-card>
  </div>