@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

button{
    margin-left: 70%;
    margin-top: 10%
}
.dynamic-texts{
    list-style: none;
    color: #4f5b70;
    font-size: 20px;
    margin-top: 10%;
}